#user {
	display: inline-block;
}
.pdp {
	border-radius: 50%;
	margin-left: 40%;
	margin-right: 40%;
}
.user-profil {
	text-align: center;
}
.scroll {
	overflow-y: auto;
	max-height: 72vh;
}
/*parent*/
#discussion {
	overflow: hidden;
}
/*child*/
#friends_list {
	overflow-y: scroll;
	margin-top: 0.5em;
	margin-right: -50px;
	padding-right: 50px;
	max-height: 80vh;
}
.message {
	width: 15em; 
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
}
.me {
	background: linear-gradient(rgba(20, 34, 223, 0.561), rgba(20, 34, 223, 0.144)), url("../assets/images/background.png");
	margin-left: 50%;
}
.other {
	background: linear-gradient(rgba(197, 171, 171, 0.05), rgba(197, 171, 171, 0.05)), url("../assets/images/background.png");
}
.pdp-center, .friends_profil {
	margin: 2% 5% 2% 0;
}
#search_friend {
	width: 22em;
} 
.friends_profil {
	margin-left: 0;
}
#input-message {
	width: 70%;
	height: 3em;
	border-radius: 1.5em;
	padding-left: 1.2em;
	padding-right: 1.2em;
	font-size: 16px;
	margin-left: 20%;
	margin-right: 10%;
}
#message-content, #friends_list {
	border-radius: 0.5em;
	background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)), url("../assets/images/background.png");
}