#pdc {
	border-radius: 1.5em;
	border: 1px solid gray;
	height: 50vh;
}
.pdp-profile {
	margin-top: -10em;
}
#name-center {
	text-align: center;
}
#about-me {
	margin-left: 5%;
	margin-right: 5%;
	max-height: 110vh;
}
#about-me, #profile-scroll {
	margin-top: 5em;
}
#profile-scroll {
}
#about-me, #create-new-pub, .new-pub {
	border-radius: 0.5em;
	background: linear-gradient(rgba(189, 187, 187, 0.123), rgba(129, 129, 129, 0.144)), url("../assets/images/background.png");
}
#create-new-pub {
	height: 5em;
	padding-left: 1em;
}
#edit-infos {
	width: 100%;
}
.new-pub {
	margin-top: 1.5em;
	overflow: hidden;
}
.photo {
	margin: 1em;
}
.pub-content {
	overflow-y: scroll;
	margin-top: 0.5em;
	margin-right: -50px;
	padding-right: 50px;
	max-height: 100vh;
}